<div ng-controller="ParkingDetailsController">
    <h2>{{parking.description}}</h2>
    
    <div class="row">
        <section class="chart-info col-md-4">
            <div id="gauge" class="400x320px"></div>
        </section>
        <section class="info col-md-8">
            <dl>
                <dt>Name</dt><dd>{{parking.name}}</dd>
                <dt>Description</dt><dd>{{parking.description}}</dd>
                <dt>Address</dt><dd>{{parking.address}}</dd>
            </dl>
        </section>
    </div>
 
</div>

