
.centered-select {
  display: block;
  width: 400px;
  margin: 10px auto;
}

.ttapp {
    background-image: url('http://freeimagescollection.com/images/objects/table-tennis-ball-and-racket-on-ping-pong-table-f5.jpg');
    height: 940px;    
}

